<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
      {{>navbar}}

      <div class="container-fluid main_header">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="row">                    
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/bg3.png" alt="Krshna" class="img-fluid" title="krishnna">
                    </figure>
                    </div>
                    
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app!</p>
                        <h1>i am a <span class="text_clr">Mern</span> stack developer</h1>
                        <a href="https://www.google.com/search?sxsrf=ALeKk00Rr2GAjGf6ffWdPiAi6uiW1UZ7RA%3A1614769908218&ei=9G4_YN7yDOW1mgfc3rTQAQ&q=krishnna+sarrdah&oq=krishnna&gs_lcp=Cgdnd3Mtd2l6EAMYADIECCMQJzIHCAAQsQMQQzIHCAAQyQMQQzIECAAQQzIHCAAQsQMQCjIECAAQQzIHCAAQsQMQCjIHCAAQsQMQCjIECAAQQzIECAAQCjoHCCMQ6gIQJzoFCAAQkQI6AggAOgQILhBDOggILhCxAxCDAToFCC4QsQM6BwguELEDEEM6BQgAELEDOg0ILhCxAxDHARCjAhBDUI4WWJsiYMEuaAFwAngAgAGiAogBkw6SAQUwLjUuNJgBAKABAaoBB2d3cy13aXqwAQrAAQE&sclient=gws-wiz" target="_blank"><button>About me</button></a>
                    </div>

                </div>
              </div>
          </div>
      </div>
{{>footer}}
</body>
</html>